html {
  font-size: 100%;
  width: 1440px;
  font-family: Helvetica;
}
body {margin: 0;}

@mixin header_title {
  color: #8747ab;
}
@mixin header_title2 {
  letter-spacing: 1pt;
}
@mixin header_p {
  color: #3f546c;
  font-size: 20px;
  line-height: 26px;
}
@mixin list {
  list-style: none;
}
@mixin title_center {
  clear: both;
  text-align: center;
}
@mixin wraps {
  text-align:center;
  margin: 0 130px;
}
@mixin img_1 {
  width: 100%;
}
.h1, .h2, .h3, .h4, .h5{
  @include header_title;
}
.h1, .h2, .h3, .h4, .h5, .contact_title {
  @include header_title2;
}

.h1, .h2, .h3, .h4, .h5, .contact_title{
  font-size: 50px;
}

.headerp, .aboutusp,  .Projectsp, .footerul, .copyright {
  @include header_p;
}
.h3, .h4, .h5, .contact_title, .copyright{
  @include title_center
}
.range_wraps, .Projects_wraps, .opinions_wraps, .contactp_wraps {
  @include wraps;
}
.range_wraps, .Projects_wraps, .opinions_wraps, .contactp_wraps{
  display: flex;
}

.opiimg, .contactp_wrap {
  @include img_1;
}

.range_wrap, .Projects_wrap, .opinions_wrap, .contactp_wrap {
  display: inline-block;
}
.range_wrap, .Projects_wrap, .contactp_wrap {
  margin: 25px;
}
.header {
  height: 876px;
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
  background-position:right;
  background-size: 876px 876px;
  .headerul {
    @include list;
    float: right;
    font-size: 16px;
    color: #fff;
    margin: 0 167px;
    letter-spacing: -0.17px;
    position: relative;
    li {
      display: inline-block;
      margin: 51px 10px;
    }
    img {
      width: 19pt;
      height: 18pt;
      position: absolute;
      top: 50%;
      left: 564px;
      transform: translateY(-50%);
    }
  }
  .logos {
    position: relative;
    float: left;
    .headerlogo1 {
      width: 85px;
      height: 84px;
      margin: 20.1px 20px 20px 121.1px;
    }
    .headerlogo2 {
      width: 168.07px;
      height: 40.9px;
      position: absolute;
      top: 50%;
      left: 234.2px;
      transform: translateY(-50%);
    }
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  .h1{
    margin-top: 245px;
  }
  .h1, .headerp{
    margin-left: 120px;
    clear: both;
  }
  .callus {
    background-image: linear-gradient(116deg, #ea4972 0%, #4a51e2 100%);
    border-radius: 7px;
    width: 169px;
    height: 53px;
    color: #fff;
    margin-left: 120px;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
  }
}
.aboutus {
  height: 598.3px;
  width: 1440px;
  float: right;
  .h2 {
    margin: 72px auto 24px;
  }
  .aboutus_img {
    height: 598.3px;
    width: 775px;
    margin: 40px 59px 40px 0;
    float: left;
    .clearfix::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.range {
  clear: both;
  h3 {
    margin: 132px auto 67px;
  }
  .range_wraps {
    text-align: center;
    p {
      color: #3f546c;
    }
    .rangep {
      color: #d8d8d8;
    }
    .rangeimg {
      width: 201px;
      margin: auto 15px;
    }
  }
}
.projects {
  h4 {
    margin: 176px auto 63px;
  }
  .projectimg {
    height: 340px;
    width: 312.6px;
    margin: auto 15px;
  }
}
.projects_p {
  border: 1px solid #3f546c;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #3f546c;
}
.opinions_bi {
  background-image: url("../img/Opiimg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  position: relative;
  .opinions_wraps {
    margin: 0 10px;
    position: absolute;
    top: 150px;
  }
}
.contact {
  .contactabout {
    background-image: url("../img/Contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    .contactabout_wrap {
      padding-top: 100px;
      p {
        color: #fff;
      }
    }
  }
  .contactmap {
    background-image: url("../img/maps.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
  }
}
.footer {
  height: 150px;
  .footerul{
    @include list;
    margin-left: 80px;
    float: left;
  }
  .footerlogo {
    float: right;
    width: 10%;
    margin: 20px 200px;
  }
  .copyright {
    clear: both;
    border-top: 1px solid #3f546c;
    padding: 50px 0;
    font-size: 12px;
    .cr_span {
      margin: 0 50px;
    }
  }
}
